{
  "presets": ["es2015-node5"],
  "plugins": [
    [
      "transform-object-rest-spread",
      "transform-h-jsx",

      {
        "pragma": "h",
        "useBuiltIns": true
      }
    ],
    "transform-class-properties"
  ]
}
